<ion-header [translucent]="true" class="ion-text-center ion-no-border">
  <ion-toolbar>
    <ion-title class="header-title">
      <h1>Te LLevo APP</h1>
      <ion-icon name="car-sport-outline"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header>
    <ion-item lines="none">
      <ion-title class="ion-text-center">Bienvenido {{username}}</ion-title>
    </ion-item>
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong></strong>
    
  </div>
</ion-content>
