<ion-content>
  <ion-toolbar>
    <ion-title>Viajes Disponibles</ion-title>
  </ion-toolbar>
  <ion-button routerLink="/home">
    <ion-icon slot="icon-only" name="home" color="light"></ion-icon>
  </ion-button>


<ion-list class="trip-list">
  <ion-item *ngFor="let trip of filteredTrips" (click)="selectTrip(trip)" class="trip-item">
    <ion-label>
      <h2>{{ trip.tripIni }} → {{ trip.tripDes }}</h2>
      <p>🕒 Hora de salida: {{ trip.tripHrs | date:'short' }}</p>
      <p>🚘 Vehículo: {{ trip.vehicle }} (Conductor: {{ trip.driverName }})</p>
      <p>💺 Asientos disponibles: {{ trip.availableSeats }}</p>
      <p>💲 Precio: ${{ trip.pricePerPassenger }}</p>
    </ion-label>
  </ion-item>
</ion-list>
</ion-content>